# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# TensorFlow
*.h5
*.hd5
*.hdf5
*.ckpt
*.tflite

# Project specific
dataset/
models/

# VS Code
.vscode/
